#top-left {
    background-color: green;
    clip: rect(0px, 200px, 200px, 0px);
}

#top-right {
    background-color: red;
    clip: rect(0px, 400px, 200px, 200px);
}

#bottom-left {
    background-color: yellow;
    clip: rect(200px, 200px, 400px, 0px);
}

#bottom-right {
    background-color: blue;
    clip: rect(200px, 400px, 400px, 200px);
}

.wrapper {
    height: 400px;
    width: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float:left;
    margin-right:20px;
    margin-left:50px;
}

.board {
    height: 400px;
    width: 400px;
    float: left;
    position: absolute;
    border: 10px solid #383838;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.controller {
    float:left;
    margin-top:150px;
}
.board-container{
	width:700px;
	margin:auto;
}

.round{
	font-size:20px;
	font-weight:bold;
}

.disable-click{
	pointer-events: none;
}
.enable-click{
	pointer-events:auto;
	cursor:pointer;
}