.wrapper{
  width: 500px;
  height: 500px;
  margin: auto;
}
.board{
  width: 250px;
  height: 250px;
  float: left;
  border: 5px solid #A5A5A5
}
#tl{
  background: green;
  border-top-left-radius: 100%;
  border-top: 20px solid;
  border-right: 10px solid;
  border-bottom: 10px solid;
  border-left: 20px solid;
}
#tr{
  background: red;
  border-top-right-radius: 100%;
  border-top: 20px solid;
  border-right: 20px solid;
  border-bottom: 10px solid;
  border-left: 10px solid;
}
#bl{
  background: yellow;
  border-bottom-left-radius: 100%;
  border-top: 10px solid;
  border-right: 10px solid;
  border-bottom: 20px solid;
  border-left: 20px solid;
}
#br{
  background: blue;
  border-bottom-right-radius: 100%;
  border-top: 10px solid;
  border-right: 20px solid;
  border-bottom: 20px solid;
  border-left: 10px solid;
}

.controller{
position: absolute;
background-color: #FFF;
border-radius: 100%;
height: 250px;
width: 250px;
margin: 125px 0 0 125px;
border: 12px solid;
}

.round{
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.selected{
  opacity: .75;
}

.inactive{
  opacity: .5;
}
